/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .background {
 	background-image: url('background.jpg');
 	background-size: 100% 100%;
 	text-align: center;
 	background-repeat: no-repeat;
 	background-attachment: fixed;
 }

.signature {
	text-align: center;
}

.banner {
	text-align: right;
	padding-right: 30px;
	padding-bottom: 10px;
	color: white;
}

a:link {
	text-decoration:none;
}

.error {
    margin-top: 20px;
    color: #ff0000;
    font-weight: bold;
}

.formrow {
    margin-top: 5px;
    margin-bottom: 5px; 

}

.hh {
	padding-top: 30px;
	padding-bottom: 20px;
}

.nailImage {
    padding: 0px;
    width: 60px;
    height: 60px;
}

.nailImg {
    max-height: 500px;
    display: inline-block;
    position: relative;
    line-height: 0px;
    width: 60px;
    height: 60px;
}

